!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ErrorMemory
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %header
    .heading
      %h1.title Error Solution
    .menu
      = link_to "言語の登録", new_genre_path, class: 'language'
      = link_to "エラーの登録", new_genre_problem_path(:id), class: 'error'
      = link_to "新規登録", new_user_registration_path, class: 'user'
      = link_to "ログイン", new_user_session_path, class: 'login'
    .navbar
      .genre
    = yield
